        <% 1.upto(20) do |pagenum|  %>
        <% url = "http://www.groupon.co.uk/browse/london?&page=#{pagenum}" %>
        <% data = Nokogiri::HTML(open(url)) %>
        <% @restaurants = data.css('.deal-card.deal-list-tile.deal-tile-standard') %>
        <% @restaurants.each do |food|  %>
        <% discountprice = food.at_css('.discount-price').text.delete! 'From £' ',' %>
        <% if discountprice.to_i <= 5.00  %>
        <tr>
        <td>£<%= discountprice %></td>
        <td><a href="<%= food.at_css('a')[:href]%>"><%= food.at_css('.deal-title.should-truncate').text %></a></td>
        <% end %>
        <% end %>
        <% end %>
        </tr>