      <div class="bs-example">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading" align ="center"><b>New deals in London for a fiver every day! </b></div>

      <!-- Table -->
      <table class="table" align= "center">
        <thead>
          <tr>
            <th>Deal Price</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
            <%= erb :alldeals %>
            <%= erb :ncrowd %>
    </tbody>
</table>
</div>
</div>